{
  "$schema": "https://raw.githubusercontent.com/jetpack-io/devbox/main/.schema/devbox.schema.json",
  "packages": {
    "pre-commit": "latest",
    "yq-go": "latest",
  },
  "shell": {
    "init_hook": [
      "./.devbox/init_hook/pre-commit.sh",
    ]
  }
}
// vim: ft=json5
